parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: donarteamcup
    database_user: donarteamcup
    database_password: donarteamcup

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_port: ~
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_delivery_address: []

    secret: ThisTokenIsNotSoSecretChangeIt
    standaard_wachtwoord: lalala
    update_scores_string: lalala
